

<style> 
p {
  color: pink;
}

h1 {
  font-size: 50px;
}
</style>
<h1>Intrucciones de reset de password</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlq6bbc2QX_m1ylGXZpXVVpLwWyVBbAljvZw&usqp=CAU">

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
